*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    width: 100%;
}
.header p{
    max-width: 1140px;
    min-width: 960px;
    margin: 20px auto;
    /* background: #eee; */
}
.header p a{
    padding-right: 40px;
    font-size: 22px;
}
.header .head-left{
    display: inline-block;
    width: 20%;
    text-align: left;
}
.header .head-right{
    display: inline-block;
    width: 29%;
    text-align: left;
}
.header .searchbar{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.header .searchbar input{
    height: 40px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 18px;
    outline: none;
    border: 1px solid #ccc;
}
.header .searchbar button{
    height: 42px;
    line-height: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 0 10px;
}